#UAR {
    width: 300px;
    height: 100px;
    margin: auto;
    display: grid;
    gap: 20px;
}

#UAR_remaining_label {
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: 4;
}

#UAR_remaining {
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 4;
}

#post_transaction_label {
    grid-row-start: 5;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 4;
}

#transaction_post {
    grid-row-start: 6;
    grid-row-end: 6;
    grid-column-start: 3;
    grid-column-end: 4;
}

#transaction_amt {
    grid-row-start: 6;
    grid-row-end: 6;
    grid-column-start: 1;
    grid-column-end: 3;
}


#transaction_des {
    grid-row-start: 7;
    grid-row-end: 13;
    grid-column-start: 1;
    grid-column-end: 4;
}

.small-btn {
    width: 75px;
    height: 30px;
    font-size: 12px;
}